@{
    ViewData["Title"] = "Welcome Page";
    //Layout = "_Layout";
}
<div>
    <p>
        Manage my <a asp-controller="CourseRegistration" asp-action="AllCourses" style="text-decoration:none">courses</a>
        or <a asp-controller="CourseRegistration" asp-action="AddCourse" style="text-decoration:none">add new course.</a>
    </p>

    <img src="/css/enroll.jpg" alt="enroll image" />
</div>
