@model EnrollmentViewModel

@{
	ViewData["Title"] = "Thank you";
}

<p>Thank you for submitting your response! We are thrilled that you will be joining us.</p>

<p>Click <a asp-controller="Home" asp-action="Index" style="text-decoration:none">here</a> to return to course registration homepage</p>

<img src="/css/thank you.jpg" alt="thankyou.jpg"/>
